/* -------------------
    GENERAL STYLES 
---------------------- */
* {
  box-sizing: border-box; }

h2,
h3,
h4,
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

/* -------------------
      BOOKSHELVES 
---------------------- */
.bookshelf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 40px; }

.shelf {
  padding: 0 15px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-right: 20px;
  align-items: flex-end; }
  .shelf:before, .shelf:after {
    position: absolute;
    content: "";
    z-index: -1; }

.shelf.upcoming {
  border-bottom: 20px solid black;
  box-shadow: 0 5px 0 gray; }
  .shelf.upcoming:before, .shelf.upcoming:after {
    background-color: dimgray;
    height: 50px;
    width: 15px;
    bottom: -60px; }
  .shelf.upcoming:before {
    left: 10px; }
  .shelf.upcoming:after {
    right: 10px; }

.shelf.jan {
  border-bottom: 20px solid #D6A06F;
  box-shadow: 0 5px 0 #C1854F; }
  .shelf.jan:before, .shelf.jan:after {
    background-color: #99673B;
    height: 50px;
    width: 15px;
    bottom: -60px; }
  .shelf.jan:before {
    left: 15px; }
  .shelf.jan:after {
    right: 15px; }

.shelf.feb {
  border-bottom: 20px solid black;
  box-shadow: 0 5px 0 0 darkgray;
  border-radius: 0 0 2px 2px; }
  .shelf.feb:before, .shelf.feb:after {
    height: 50px;
    width: 30px;
    bottom: -25px;
    background-color: transparent;
    box-shadow: 0 5px 0 0 black, 0 15px 0 0 dimgray,  0 25px 0 0 gray,  0 35px 0 0 lightgray; }
  .shelf.feb:before {
    left: 10px; }
  .shelf.feb:after {
    right: 10px; }

.shelf.apr .stacked-books {
  margin: 0 20px; }
  .shelf.apr .stacked-books .book h3, .shelf.apr .stacked-books .book h2 {
    transform: rotate(0deg); }
  .shelf.apr .stacked-books .book:nth-child(2) {
    width: 300px;
    height: 60px; }
  .shelf.apr .stacked-books .book:nth-child(3) {
    height: 30px;
    width: 320px; }
  .shelf.apr .stacked-books .book:nth-child(4) {
    width: 300px;
    height: 60px; }
  .shelf.apr .stacked-books .book:nth-child(5) {
    height: 30px;
    width: 320px; }
  .shelf.apr .stacked-books .book:nth-child(6) {
    height: 30px;
    width: 320px; }

/* -------------------
  GENERAL BOOK STYLES 
---------------------- */
.book {
  position: relative;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  cursor: pointer; }
  .book h2, .book h3 {
    padding: 0;
    transform-origin: 0 0;
    width: 250px; }
  .book h2 {
    font-size: 12px;
    -webkit-transform: rotate(90deg) translateY(-35px) translateX(0);
    transform: rotate(90deg) translateY(-35px) translateX(0); }
  .book h3 {
    font-size: 11px;
    -webkit-transform: rotate(90deg) translateY(-15px) translateX(-20px);
    transform: rotate(90deg) translateY(-15px) translateX(-20px); }
  .book:hover {
    transform: scale(1.3);
    z-index: 99; }

.upcoming .book {
  height: 300px;
  color: dimgray;
  background-color: lightgray;
  border: 2px solid dimgray; }
  .upcoming .book h2 {
    transform: rotate(90deg) translateY(-30px) translateX(10px); }
  .upcoming .book h3 {
    transform: rotate(90deg) translateY(-15px) translateX(-3px); }
  .upcoming .book:nth-child(2n) {
    height: 280px; }
  .upcoming .book:nth-child(3n) {
    height: 310px; }

.extra-small-book {
  width: 30px; }

.small-book {
  width: 40px; }

.medium-book {
  width: 60px; }

.large-book {
  width: 75px; }

.extra-large-book {
  width: 90px; }

/* -------------------
    BOOKSHELF ITEMS 
---------------------- */
/* --- PLANT --- */
.plant {
  height: 100px;
  width: 100px;
  background-color: #739AC4;
  margin-right: 20px;
  position: relative;
  border: 2px solid #445D76; }
  .plant p {
    position: absolute;
    background-color: white;
    text-align: center;
    padding: 5px;
    top: 40px;
    border: 2px solid #445D76;
    text-transform: uppercase;
    font-size: 13px;
    left: 13px; }
  .plant:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 120px;
    background-color: #597797;
    border: 2px solid #445D76;
    left: -14px; }

.leaf {
  width: 50px;
  height: 50px;
  background-color: #a0de21;
  -moz-border-radius: 50px 0;
  -webkit-border-radius: 50px 0;
  border-radius: 50px 0;
  position: absolute;
  top: -40px;
  left: 60px;
  box-shadow: 20px 0 teal;
  transform: rotate(180deg);
  z-index: -1; }
  .leaf:before, .leaf:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    -moz-border-radius: 0 50px;
    -webkit-border-radius: 0 50px;
    border-radius: 0 50px;
    top: 0; }
  .leaf:before {
    background-color: green;
    right: -70px;
    box-shadow: -20px 0 teal; }
  .leaf:after {
    background-color: lightgreen;
    transform: rotate(40deg);
    left: 35px; }

/* --- FIRBY --- */
.firby {
  height: 200px;
  width: 150px;
  background-color: gray;
  margin: 0 20px; }

/* --- ALARM CLOCK --- */
.clock {
  height: 100px;
  width: 230px;
  background-color: lightgray;
  margin-right: 15px;
  border: 2px solid black;
  padding: 8px;
  display: block; }
  .clock .time {
    display: flex;
    background-color: black;
    padding: 5px;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px; }
    .clock .time p {
      font-size: 40px;
      margin: 0; }

/* --- JAR --- */
.jar {
  width: 200px;
  height: 150px;
  background-color: dimgray;
  margin: 0 auto; }

/* -------------------
   INDIVIDUAL BOOKS 
---------------------- */
/* JAN Books ------------------------- */
/*  Where'd You Go Bernadette */
.whered-you-go-bernadette.book {
  height: 310px;
  background-color: #81c5c3;
  border: 2px solid #55807e; }
  .whered-you-go-bernadette.book h2, .whered-you-go-bernadette.book h3 {
    font-size: 9.6px; }
  .whered-you-go-bernadette.book h2 {
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1.1px;
    -webkit-transform: rotate(90deg) translateY(-24px) translateX(15px);
    transform: rotate(90deg) translateY(-24px) translateX(15px); }
  .whered-you-go-bernadette.book h3 {
    color: #063d61;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    -webkit-transform: rotate(90deg) translateY(-24px) translateX(218px);
    transform: rotate(90deg) translateY(-24px) translateX(218px); }
  .whered-you-go-bernadette.book .eye {
    height: 20px;
    width: 30px;
    position: absolute;
    bottom: 85px;
    left: 5px; }
    .whered-you-go-bernadette.book .eye:before, .whered-you-go-bernadette.book .eye:after {
      content: "";
      position: absolute; }
    .whered-you-go-bernadette.book .eye:before {
      width: 20px;
      height: 20px;
      top: 0;
      left: 5px;
      background-color: white;
      border-radius: 0 80% 0 80%;
      transform: rotate(-45deg); }
    .whered-you-go-bernadette.book .eye:after {
      width: 11px;
      height: 11px;
      left: 9px;
      top: 4px;
      border-radius: 100%;
      background-color: #063d61; }

/*  My Sister, the Serial Killer */
.my-sister-the-serial-killer.book {
  height: 270px;
  background-color: #32332f;
  border: 2px solid black;
  padding: 10px 5px;
  color: #8af27f;
  text-align: center;
  overflow: hidden; }
  .my-sister-the-serial-killer.book:before {
    position: absolute;
    content: "";
    height: 60px;
    width: 60px;
    background-color: red;
    transform: rotate(45deg);
    bottom: 20px;
    left: -40px; }
  .my-sister-the-serial-killer.book span {
    display: block;
    margin-bottom: 5px; }
  .my-sister-the-serial-killer.book h2, .my-sister-the-serial-killer.book h3 {
    text-transform: uppercase;
    width: 100%; }
  .my-sister-the-serial-killer.book h2 {
    font-size: 6.5px;
    letter-spacing: 1.1px;
    -webkit-transform: rotate(0deg) translateY(0) translateX(0);
    transform: rotate(0deg) translateY(0) translateX(0); }
    .my-sister-the-serial-killer.book h2 span:nth-child(1) {
      font-size: 18px; }
    .my-sister-the-serial-killer.book h2 span:nth-child(3) {
      font-size: 13px; }
    .my-sister-the-serial-killer.book h2 span:nth-child(2), .my-sister-the-serial-killer.book h2 span:nth-child(4), .my-sister-the-serial-killer.book h2 span:nth-child(5) {
      font-size: 5px; }
  .my-sister-the-serial-killer.book h3 {
    font-size: 6px;
    -webkit-transform: rotate(0deg) translateY(50px) translateX(0);
    transform: rotate(0deg) translateY(50px) translateX(0); }
    .my-sister-the-serial-killer.book h3 span:nth-child(1) {
      font-size: 5.5px; }
    .my-sister-the-serial-killer.book h3 span:nth-child(2) {
      font-size: 7px; }
    .my-sister-the-serial-killer.book h3 span:nth-child(3) {
      font-size: 8px; }

/*  The Power */
.the-power.book {
  height: 290px;
  background-color: #d95440;
  border: 2px solid #8d372a; }
  .the-power.book h2 {
    text-transform: uppercase;
    font-size: 19px;
    -webkit-transform: rotate(0deg) translateY(20px) translateX(0);
    transform: rotate(0deg) translateY(20px) translateX(0);
    width: 100%;
    text-align: center;
    font-family: "Raleway", sans-serif; }
    .the-power.book h2 span {
      display: block;
      color: white; }
      .the-power.book h2 span:nth-child(2n) {
        color: #17202a; }
  .the-power.book h3 {
    font-size: 9.5px;
    -webkit-transform: rotate(0) translateY(20px) translateX(-97px);
    transform: rotate(0) translateY(20px) translateX(-97px);
    color: #17202a;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-weight: bold;
    line-height: 5px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .the-power.book h3 span {
      display: block;
      margin-bottom: 5px; }
  .the-power.book:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: #17202a;
    bottom: 10px;
    left: 20px; }

/*  We Should All Be Feminists */
.we-should-all-be-feminists.book {
  background-color: #f5f2e2;
  height: 260px;
  border: 1px solid #a3a29b;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase; }
  .we-should-all-be-feminists.book h2 {
    font-size: 8px;
    -webkit-transform: rotate(90deg) translateY(-18px) translateX(13px);
    transform: rotate(90deg) translateY(-18px) translateX(13px); }
  .we-should-all-be-feminists.book h3 {
    font-size: 7px;
    color: red;
    -webkit-transform: rotate(90deg) translateY(-18px) translateX(138px);
    transform: rotate(90deg) translateY(-18px) translateX(138px); }

/* The Handmaid's Tale */
.the-handmaids-tale.book {
  height: 290px;
  background-color: #8d322e;
  border: 2px solid #8d372a;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif; }
  .the-handmaids-tale.book:before {
    position: absolute;
    width: 100%;
    height: 42px;
    background-color: tan;
    content: ""; }
  .the-handmaids-tale.book h2, .the-handmaids-tale.book h3 {
    width: 110px;
    position: relative;
    font-weight: normal; }
    .the-handmaids-tale.book h2:after, .the-handmaids-tale.book h3:after {
      position: absolute;
      content: "";
      height: 38px;
      width: 115%;
      z-index: -1; }
  .the-handmaids-tale.book h2 {
    color: white;
    text-align: center;
    font-size: 11px;
    -webkit-transform: rotate(90deg) translateY(-28px) translateX(39px);
    transform: rotate(90deg) translateY(-28px) translateX(39px); }
    .the-handmaids-tale.book h2:after {
      background-color: #8d322e;
      top: -10px;
      left: -6px; }
  .the-handmaids-tale.book h3 {
    font-size: 10px;
    color: lightgray;
    -webkit-transform: rotate(90deg) translateY(-22px) translateX(150px);
    transform: rotate(90deg) translateY(-22px) translateX(150px); }
    .the-handmaids-tale.book h3:after {
      background-color: #0d1114;
      top: -15.5px;
      left: -14px; }

/*  Cinder */
.cinder {
  height: 280px;
  background-color: #212f3d;
  border: 2px solid #17202a;
  color: white; }

.cinder h2 {
  font-family: "MedievalSharp", cursive;
  -webkit-transform: rotate(0deg) translateY(0) translateX(0);
  transform: rotate(0deg) translateY(50px) translateX(15px);
  width: 18px;
  font-size: 23px;
  word-break: break-all;
  text-align: center;
  line-height: 22px; }

.cinder h2 span {
  font-size: 45px; }

.cinder h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-transform: rotate(0deg) translateY(0) translateX(0);
  transform: rotate(0deg) translateY(-125px) translateX(10px);
  color: #b6413c; }

/* white area at the bottom */
.book.cinder:before {
  position: absolute;
  content: "";
  height: 100px;
  width: 100%;
  background-color: lightgray;
  background: linear-gradient(198deg, #212f3d 25%, #535e68 59%, #e4e4e4 100%);
  bottom: 0; }

.book.cinder:after {
  background-color: black; }

/* .foot {
  height: 80px;
  width: 40px;
  left: 7px;
  bottom: 15px;
  border: 1px solid red;
  position: absolute;
  content: '';
}

.leg {
  position: absolute;
  background-color: tan;
  height: 70px;
  width: 25px;
  left: 6px;
  content: '';
} */
/*  FEB Books ------------------------- */
.voices-from-chernobyl.book {
  background-color: tan;
  color: black; }

.the-end-we-start-from.book {
  background-color: teal;
  color: white; }

/*  MAR Books ------------------------- */
/*  APR Books ------------------------- */
/*  MAY Books ------------------------- */
/*  JUN Books ------------------------- */
/*  JUL Books ------------------------- */
/*  AUG Books ------------------------- */
/*  SEP Books ------------------------- */
/*  OCT Books ------------------------- */
/*  NOV Books ------------------------- */
/*  DEC Books ------------------------- */
.book.pet {
  background-color: lavender; }

.book.the-right-swipe {
  background-color: #DB76A8;
  border-color: #913E67; }

.book.the-right-swipe .woman, .book.the-right-swipe .dude {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px dashed white;
  transform: translateX(7px); }

.book.the-right-swipe .woman, .book.the-right-swipe .dude {
  margin-top: 10px;
  position: relative;
  overflow: hidden; }

.book.the-right-swipe .woman .body, .book.the-right-swipe .woman .hair, .book.the-right-swipe .woman .face, .book.the-right-swipe .dude .body, .book.the-right-swipe .dude .hair, .book.the-right-swipe .dude .face {
  position: absolute; }

.book.the-right-swipe .woman .body,
.book.the-right-swipe .dude .body {
  height: 15px;
  width: 100%;
  bottom: 0;
  border-radius: 50% 50% 0 0; }

.book.the-right-swipe .woman .face,
.book.the-right-swipe .dude .face {
  height: 22px;
  width: 17px;
  top: 5px;
  left: 12px;
  border-radius: 50%; }

.book.the-right-swipe .woman .face {
  background-color: #644731;
  z-index: 20;
  position: relative; }

.book.the-right-swipe .dude .face {
  background-color: #865E40; }

.book.the-right-swipe .woman .body {
  background-color: #EDC974; }

.book.the-right-swipe .dude .body {
  background-color: black; }

.book.the-right-swipe .cursive {
  font-family: 'Sacramento';
  font-size: 40px;
  text-transform: lowercase; }

.shelf.feb {
  display: block; }

.clock {
  margin: auto; }

.shelf.feb .book {
  margin: auto; }

.shelf.feb .voices-from-chernobyl {
  width: 300px;
  height: 40px; }

.shelf.feb .book h3,
.shelf.feb .book h2 {
  transform: rotate(0deg); }

.shelf.feb .the-end-we-start-from {
  height: 30px;
  width: 320px; }

/*# sourceMappingURL=main.css.map */
