* {
  box-sizing: border-box;
}

h2,
h3,
h4,
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.bookshelf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 40px;
}

.book {
  border: 2px solid black;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  cursor: pointer;
}

.plant {
  height: 100px;
  width: 100px;
  background-color: #739AC4;
  margin-right: 20px;
  position: relative;
  border: 2px solid #445D76;
}

.plant p {
  position: absolute;
  background-color: white;
  text-align: center;
  padding: 5px;
  top: 40px;
  border: 2px solid #445D76;
  text-transform: uppercase;
  font-size: 13px;
  left: 13px;
}

.plant:after {
  position: absolute;
  content: "";
  height: 20px;
  width: 120px;
  background-color: #597797;
  border: 2px solid #445D76;
  left: -14px;
}

.leaf {
  width: 50px;
  height: 50px;
  background-color: #a0de21;
  -moz-border-radius: 50px 0;
  -webkit-border-radius: 50px 0;
  border-radius: 50px 0;
  position: absolute;
  top: -40px;
  left: 60px;
  box-shadow: 20px 0 teal;
  transform: rotate(180deg);
  z-index: -1;
}

.leaf:before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: green;
  -moz-border-radius: 0 50px;
  -webkit-border-radius: 0 50px;
  border-radius: 0 50px;
  position: absolute;
  top: 0px;
  right: -70px;
  box-shadow: -20px 0 teal;
}

.leaf:after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: lightgreen;
  -moz-border-radius: 0 50px;
  -webkit-border-radius: 0 50px;
  border-radius: 0 50px;
  transform: rotate(40deg);
  position: absolute;
  top: 0px;
  left: 35px;
}

.firby {
  height: 200px;
  width: 150px;
  background-color: gray;
  margin: 0 20px;
}

.clock {
  height: 100px;
  width: 230px;
  background-color: lightgray;
  margin-right: 15px;
  border: 2px solid black;
  padding: 8px;
}

.clock .time {
  display: flex;
  background-color: black;
  padding: 5px;
  color: white;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}

.clock .time p {
  font-size: 40px;
  margin: 0;
}

.book.upcoming {
  height: 300px;
  border-color: dimgray;
  color: dimgray;
  background-color: lightgray;
}

.book.upcoming h2 {
  transform: rotate(0.25turn) translateY(-41px) translateX(10px);
}

.book.upcoming h3 {
  transform: rotate(90deg) translateY(-23px) translateX(-3px);
}

.stack {
  padding: 0 15px;
  border-bottom: 20px solid #D6A06F;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-right: 20px;
  align-items: flex-end;
  box-shadow: 0 5px 0 #C1854F;
}

.stack:before,
.stack:after {
  position: absolute;
  content: "";
  height: 50px;
  width: 15px;
  background-color: #99673B;
  z-index: -1;
  bottom: -60px;
}

.stack:before {
  left: 10px;
}

.stack:after {
  right: 10px;
}

/* .stack.jan {
  border-color: #D6A06F;
  box-shadow: 0 5px 0 #C1854F;
} */

/* .stack.jan:before, .stack.jan:after {
  background-color: #99673B;
} */

.extra-small-book {
  width: 30px;
}

.small-book {
  width: 40px;
}

.medium-book {
  width: 60px;
}

.large-book {
  width: 75px;
}

.extra-large-book {
  width: 90px;
}

.book:hover {
  transform: scale(1.3);
  z-index: 99;
}

.book h2 {
  padding: 0;
  font-size: 0.8em;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: rotate(0.25turn) translateY(-35px);
  transform: rotate(0.25turn) translateY(-35px);
  width: 250px;
}

.book h3 {
  padding: 0;
  font-size: 0.7em;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-15px) translateX(-20px);
  transform: rotate(90deg) translateY(-15px) translateX(-20px);
  width: 250px;
}

.whered-you-go-bernadette {
  height: 310px;
  background-color: #81c5c3;
  border: 2px solid #55807e;
}

.book.whered-you-go-bernadette h2 {
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.6em;
  letter-spacing: 1.1px;
  -webkit-transform: rotate(0.25turn) translateY(-25px) translateX(15px);
  transform: rotate(0.25turn) translateY(-24px) translateX(15px);
}

.book.whered-you-go-bernadette h3 {
  font-size: 0.6em;
  -webkit-transform: rotate(90deg) translateY(-24px) translateX(-20px);
  transform: rotate(90deg) translateY(-24px) translateX(218px);
  color: #063d61;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.book.whered-you-go-bernadette .eye {
  height: 20px;
  width: 30px;
  position: absolute;
  bottom: 85px;
  left: 5px;
}

.book.whered-you-go-bernadette .eye:before,
.book.whered-you-go-bernadette .eye:after {
  content: "";
  position: absolute;
}

.book.whered-you-go-bernadette .eye:before {
  width: 20px;
  height: 20px;
  top: 0;
  left: 5px;
  background-color: white;
  border-radius: 0 80% 0 80%;
  transform: rotate(-45deg);
}

.book.whered-you-go-bernadette .eye:after {
  width: 11px;
  height: 11px;
  left: 9px;
  top: 4px;
  border-radius: 100%;
  background-color: #063d61;
}

.book.whered-you-go-bernadette:after {
  background-color: teal;
}

/* ---- */

.my-sister-the-serial-killer {
  height: 270px;
  background-color: #32332f;
  border: 2px solid black;
  padding: 10px 5px;
  color: #8af27f;
  text-align: center;
  overflow: hidden;
}

.my-sister-the-serial-killer:before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  background-color: red;
  transform: rotate(45deg);
  bottom: 20px;
  left: -40px;
}

.my-sister-the-serial-killer span {
  display: block;
  margin-bottom: 5px;
}

.my-sister-the-serial-killer h2 {
  text-transform: uppercase;
  font-size: 0.35em;
  letter-spacing: 1.1px;
  -webkit-transform: rotate(0deg) translateY(0) translateX(0);
  transform: rotate(0deg) translateY(0) translateX(0);
  width: 100%;
}

.book.my-sister-the-serial-killer h3 span {
  display: block;
}

.book.my-sister-the-serial-killer h3 span:nth-child(1) {
  font-size: 5.5px;
}

.book.my-sister-the-serial-killer h3 span:nth-child(2) {
  font-size: 7px;
}

.book.my-sister-the-serial-killer h3 span:nth-child(3) {
  font-size: 8px;
}

.my-sister-the-serial-killer h2 span:nth-child(1) {
  font-size: 2.5em;
}

.my-sister-the-serial-killer h2 span:nth-child(3) {
  font-size: 2em;
}

.my-sister-the-serial-killer h2 span:nth-child(2),
.my-sister-the-serial-killer h2 span:nth-child(4),
.my-sister-the-serial-killer h2 span:nth-child(5) {
  font-size: 5px;
}

.my-sister-the-serial-killer h3 {
  font-size: 0.4em;
  -webkit-transform: rotate(0deg) translateY(50px) translateX(0);
  transform: rotate(0deg) translateY(50px) translateX(0);
  width: 100%;
  text-transform: uppercase;
}

.book.my-sister-the-serial-killer:after {
  background-color: black;
}

/* --- */

.the-power {
  height: 290px;
  background-color: #d95440;
  border: 2px solid #8d372a;
}

.book.the-power h2 {
  text-transform: uppercase;
  font-size: 19px;
  -webkit-transform: rotate(0deg) translateY(0) translateX(0);
  transform: rotate(0deg) translateY(20px) translateX(0);
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.book.the-power h2 span {
  display: block;
  color: white;
}

.book.the-power h2 span:nth-child(2n) {
  color: #17202a;
}

.book.the-power h3 span {
  display: block;
  margin-bottom: 5px;
}

.book.the-power h3 {
  font-size: 0.6em;
  -webkit-transform: rotate(0) translateY(-5px) translateX(-95);
  transform: rotate(0) translateY(20px) translateX(-97px);
  color: #17202a;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
  line-height: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.book.the-power:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #17202a;
  bottom: 10px;
  left: 20px;
}

.book.the-power:after {
  background-color: #cb4335;
}

/* -- */

.we-should-all-be-feminists {
  background-color: #f5f2e2;
  height: 260px;
  border: 1px solid #a3a29b;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.book.we-should-all-be-feminists:after {
  background-color: #a3a29b;
}

.book.we-should-all-be-feminists h2 {
  font-size: 8px;
  -webkit-transform: rotate(0.25turn) translateY(-18px) translateX(13px);
  transform: rotate(0.25turn) translateY(-18px) translateX(13px);
}

.book.we-should-all-be-feminists h3 {
  font-size: 7px;
  color: red;
  -webkit-transform: rotate(0.25turn) translateY(-18px) translateX(138px);
  transform: rotate(0.25turn) translateY(-18px) translateX(138px);
}

/* -- */

.the-handmaids-tale {
  height: 290px;
  background-color: red;
  border: 2px solid #8d372a;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.book.the-handmaids-tale:after {
  background-color: #712825;
}

.book.the-handmaids-tale:before {
  position: absolute;
  width: 100%;
  height: 42px;
  background-color: tan;
  content: "";
}

.book.the-handmaids-tale h2 {
  width: 110px;
  color: white;
  text-align: center;
  font-size: 11px;
  -webkit-transform: rotate(0.25turn) translateY(-28px) translateX(39px);
  transform: rotate(0.25turn) translateY(-28px) translateX(39px);
  position: relative;
  font-weight: normal;
}

.book.the-handmaids-tale h2:after {
  background-color: #8d322e;
  position: absolute;
  content: "";
  height: 38px;
  width: 115%;
  top: -10px;
  left: -6px;
  z-index: -1;
}

.book.the-handmaids-tale h3 {
  width: 110px;
  font-size: 10px;
  color: lightgray;
  -webkit-transform: rotate(0.25turn) translateY(-22px) translateX(131px);
  transform: rotate(0.25turn) translateY(-22px) translateX(150px);
  position: relative;
  font-weight: normal;
}

.book.the-handmaids-tale h3:after {
  background-color: #0d1114;
  position: absolute;
  content: "";
  height: 38px;
  width: 115%;
  top: -15.5px;
  left: -14px;
  z-index: -1;
}

/* -- */

.cinder {
  height: 280px;
  background-color: #212f3d;
  border: 2px solid #17202a;
  color: white;
}

.cinder h2 {
  font-family: "MedievalSharp", cursive;
  -webkit-transform: rotate(0deg) translateY(0) translateX(0);
  transform: rotate(0deg) translateY(50px) translateX(15px);
  width: 18px;
  font-size: 23px;
  word-break: break-all;
  text-align: center;
  line-height: 22px;
}

.cinder h2 span {
  font-size: 45px;
}

.cinder h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-transform: rotate(0deg) translateY(0) translateX(0);
  transform: rotate(0deg) translateY(-125px) translateX(10px);
  color: #b6413c;
}

/* white area at the bottom */
.book.cinder:before {
  position: absolute;
  content: "";
  height: 100px;
  width: 100%;
  background-color: lightgray;
  background: linear-gradient(
    198deg,
    rgba(33, 47, 61, 1) 25%,
    rgba(83, 94, 104, 1) 59%,
    rgba(228, 228, 228, 1) 100%
  );
  bottom: 0;
}

.book.cinder:after {
  background-color: black;
}

/* .foot {
  height: 80px;
  width: 40px;
  left: 7px;
  bottom: 15px;
  border: 1px solid red;
  position: absolute;
  content: '';
}

.leg {
  position: absolute;
  background-color: tan;
  height: 70px;
  width: 25px;
  left: 6px;
  content: '';
} */
